<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 
        1绑定监听:
        v-on:xxx='yyy'
        @xxx='fun'
        @xxx='fun()'
        默认事件形参 event
        隐含属性对象 $event

        2事件修饰符: 
        .prevent:阻止事件默认行为
        .stop:停止事件冒泡

        3.按键修饰符
        .keycode:操作的是某个keycode值的键
        .enter:操作的是enter键
     -->

     <div class='demo' >
         <h2 >绑定事件监听</h2>
        <button v-on:click="test1" >test1</button>
        <button v-on:click="test2('mytest',$event)">test1</button>
         <h2>事件修饰符</h2>
                                                                <!-- 可以链式调用事件修饰符 -->
        <div @click="alert()"><a href="http://www.baidu.com" v-on:click.prevent.stop="alert()"  style="display: block;">去百度</a></div>

        <div class="box1" style="width: 200px;height: 200px;background-color: red;" @click="alert()">
            <div class="box2" style="width: 100px;height: 100px;background-color: blue;" @click.stop="alert()">
            </div>
        </div>
         <h2>按键修饰符</h2>
         <input type="text" v-model="msg" @keyup.enter='test5'>
         <input type="text" v-model="msg" @keyup.t='test5'>
     </div>
</body>
</html>

<script src='../ku/vue.js'></script>
<script>
    new Vue({
        el:'.demo',
        data:{
            msg:''
        },
        methods: {
            test1(e){
                alert(e.target.innerHTML)
            },
            test2(msg,e){
                alert(msg)
                alert(e)
            },
            alert(){
                alert()
            },
            test5(e){
                
                alert(this.msg)
            }
           
        },
    })
   
</script>