<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div{
            position: relative;
        }
        img{
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top:100px;   margin:100px auto ;
        }
        .box{
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background-color:rgba(255, 255, 255, .9);
            background-clip: content-box;
            position:absolute;
            top: 630px;
            left: 250px;
            z-index: 9999;
        }
        .box2{left: 280px;}
        .box:hover{
            background-color: coral;
        }
        .box3{left: 310px;}
        .box4{left: 340px;}
    </style>
</head>
<body>
  <div>
<a href="">
    <img class="aa" src="imgg/354ff5aa63c68e7d.jpg.webp" alt="">
</a>



<a href=""><img class="bb" src="IMGG/8697ad5b55b9d6bd.jpg.webp" alt=""></a>



      <a href=""><img class="cc" src="imgg/b37b7d70.jpg" alt=""></a>
  </div>


      <a href=""><img class="dd" src="imgg/e3165d6363298955.jpg.webp" alt=""></a>
      <div class="box box1"></div>
      <div class="box box2"></div>
      <div class="box box3"></div>
      <div class="box box4"></div>
  </div>
</body>
</html>