<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <style>
        div{
            float: left;
            margin: 0 0;
        }
        div:nth-child(2){
            position: absolute;
            left: 150px;
            top: 62px;
        }
    </style>
</head>
<body>
    
    <div>
        <form action="http://192.168.124.3:3000/login" method="post">
            账号<input type="text" name='email' value="<%=errmsg.emailto%>"><span style="color: red;"><%=errmsg.email%></span><br>
            密码<input type="password" name="password" ><span style="color: red;"><%=errmsg.password%></span><br>
            <input type="submit" value="登录">  
            
            
        </form>
    
        <div>
            <form action="http://192.168.124.3:3000/register">
                <button type="submit" >注册</button>   
            </form>
        
        </div>
    </div>
    

    
</body>
</html>